*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main{
    position: relative;
    max-width: 1000px;
    min-height: 1130px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    background: white;
    margin: 50px;
}

.top{
    position: relative;
    background: rgb(211, 208, 208);
    margin-top: 37px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.bottom{
    position: relative;
    background: white;
}

.name{
    margin-left: 12px;
    margin-top: 10px;
    font-size: 40px;
}

.link{
    color: black;
}

.git{
    color: black;
}


.section{
    margin-top: 18px;
    margin-left: 12px;
    color: rgb(29, 28, 28);
    font-size: 16.5px;
    font-weight: 600;
}

.first-line{
    background: black;
    width: 295px;
    height: 2px;
    margin-left: 9px;
    margin-top: 10px;
}

.education{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
}

.details{
    margin-top: 10px;
    margin-left: 9px;
    font-size: 16.5px;
    font-weight: 600;
}

.college{
    margin-left: 9px;
    font-size: 17px;
}

.higher{
    margin-left: 9px;
    margin-top: 18px;
    font-size: 16.5px;
    font-weight: 600;
}

.school{
    margin-left: 9px;
    font-size: 17px;
}

.lower{
    margin-left: 9px;
    margin-top: 20px;
    font-size: 16.5px;
    font-weight: 600;
}

.school-name{
    margin-left: 9px;
    font-size: 17px;
}

.second-line{
    background: black;
    width: 295px;
    height: 2px;
    margin-left: 9px;
    margin-top: 10px;
}

.training{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
}

.first-training{
    margin-top: 10px;
    margin-left: 9px;
    font-size: 16.5px;
    font-weight: 600;
}

.primary{
    margin-left: 9px;
    font-size: 17px;
}

.second-training{
    margin-top: 15px;
    margin-left: 9px;
    font-size: 16.5px;
    font-weight: 600;
}

.secondary{
    margin-left: 9px;
    font-size: 17px;
}

.third-line{
    background: black;
    width: 295px;
    height: 2px;
    margin-left: 9px;
    margin-top: 10px;
}

.skills{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
}

.abilities{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
}

.fourth-line{
    background: black;
    width: 295px;
    height: 2px;
    margin-left: 9px;
    margin-top: 10px;
}

.tertiary{
    margin-left: 26px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}

.fifth-line{
    background: black;
    width: 295px;
    height: 2px;
    margin-left: 9px;
    margin-top: 10px;
}

.first-skill{
    margin-left: 26px;
    margin-top: 6px;
    font-size: 17px;
    font-weight: 500;
}

.interest{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 9px;
}

.first-interest{
    margin-left: 26px;
    margin-top: 6px;
    font-size: 17px;
    font-weight: 500;
}

.sixth-line{
    background: black;
    width: 610px;
    height: 4px;
    margin-left: 11px;
    margin-top: 45px;
}

.work{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 10px;
    margin-left: 14px;
}

.seventh-line{
    background: black;
    width: 610px;
    height: 4px;
    margin-left: 11px;
    margin-top: 8px;
}

.apprentice{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 10px;
}

.month{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 260px;
}

.value{
    margin-top: 12px;
}

.info{
    margin-left: 26px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.eighth-line{
    background: black;
    width: 610px;
    height: 4px;
    margin-left: 11px;
    margin-top: 25px;
}

.projects{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: normal;
    color: black;
    margin-top: 7px;
    margin-left: 14px;
}

.nineth-line{
    background: black;
    width: 610px;
    height: 4px;
    margin-left: 11px;
    margin-top: 8px;
}

.food{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 13px;
    margin-top: 25px;
}

.order{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.grocery{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 13px;
    margin-top: 35px;
}

.page{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.image{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 13px;
    margin-top: 35px;
}

.gallery{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.bmi{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 13px;
    margin-top: 35px;
}

.calculate{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.img{
    margin-left: 425px;
    margin-top: 70px;
}

.commerce{
    font-size: 22px;
    font-weight: 550;
    letter-spacing: normal;
    color: black;
    margin-left: 13px;
    margin-top: 25px;
}

.website{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}